.song-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  width: 45rem;
  height: 5rem;
  
  padding: 0.3rem;
  margin: 1rem .25rem;
  background-color: #4b4b4b;
  
}

.song-item__description {
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 4rem;
  font-size:1rem;

  margin:0.5rem 0;
  padding:0.5rem 0;

  border: 2px solid blanchedalmond;
  border-radius: 12px;
  cursor:pointer;
}
.song-item__description h4{
  margin:0.25rem;
}

.song-item img{
  
  border-radius: 20px;
  background-repeat: no-repeat;
  /* max-height: 90px;
  max-width: 80px; */

  height: 5rem;
  width: 5.5rem;

  /* height: 80%;
  width: 20%; */
}
.song-item button{
  border:1px solid brown;
  border-radius:50px;
  padding: .5rem;
  cursor:pointer;
  width: 3rem;
  height:3rem;
  box-sizing: border-box;
}
.song-item button img{
  
border-radius: 100px;
width: 90%;
height:100%;
}
.song-item__length{
  font-size: 1rem;
}

.menu-img{
  /* width: 1.5rem !important;
  height:1rem  !important; */
  width: 4% !important;
  height:25%  !important;
  cursor: pointer;
}