.playbox{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 4rem;
    position: absolute;
    /* position: sticky; */
    bottom: 0;
    left: 0;
    background-color: #c90303;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
}
.my-progress-bar{
    width: 80vw;
    color: black;
}
.song-icons{
    

}