@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,200;1,300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;

}
.Navbar {
    
    
  display: flex;
  width: 100%;
  /* justify-content: center; */
  height: 4rem;
  background-color: #960015;
  color: black;
  font-weight: bold;
}

.Navbar .branding img {
  height: 4em;
  width: 5em;
}

.Navbar .branding a {
  font-size: 2.5rem;
  color: #fafafa;
  font-weight: bold;
  font-style: none;
  text-decoration: none;
  /* padding: 1.5rem 1rem; */
  margin: 1rem;
}





/* 
.Navbar ul {
  margin-top: 0.5rem;
}
.Navbar ul li {
  display: inline;
  padding: 0.5rem 0.5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}
.Navbar ul :hover {
  transform: scale(5);
} */
