
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Menu buttons */
#check{
  display: none;

}
label #btn, label #cancel{
  position: absolute;
  cursor: pointer;
  background: black;
  border-radius: 3px;
  z-index: 99999;
}

label #btn{
  left: 10px;
  top: 65px;
  font-size: 45px;
  color:rgb(197, 45, 45);
  padding: 6px 12px;
  transition: all .5s;
}
label #cancel{
z-index: 1111;
left:-2500px;

top: 67px;
font-size: 30px;
color: rgb(212, 17, 17);
padding: 4px 9px;
transition: all .5s ease;
}

#check:checked ~.Menu{
  left:0px;

}

#check:checked ~ label #btn{
  /* left:250px; */
  opacity: 0;
  pointer-events: none;
}

#check:checked ~ label #cancel{
  left:400px;
  
  
}